body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.hidden {
  display: none;
}

.container {
  position: relative;
}

#imageContainer {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100vh; /* контейнер занимает весь экран */
}

#imageContainer img {
  width: 30%; /* Примерная ширина для изображений */
  margin: 10px;
  border-radius: 10px;
}

.emoji {
  font-size: 40px;
  position: absolute;
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-150px) translateX(100px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0) translateX(-100px);
    opacity: 1;
  }
}
